.selector-for-some-widget {
  box-sizing: content-box;
}

body, html {
    height: 100%;
}
body {
	overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #15191a;
    color: #fff;
    font-size: 14px;
    text-shadow: 0px 2px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, 0 2px 0 #000000;
}
.main{
    /* Full height */
	background-size: cover;
    min-height: 650px;
    padding: 0 0 100px 0;
	background-image: url(../img/backgrounf.jpg);
}
.logo-wrapper .logo{
	max-width: 155px;
    margin-top: 7px;
}

.inside-header {
	font-family: 'Luckiest Guy', cursive;
    text-align: center;
    padding-top: 50px;
}
.inside-header h1 {

    color: #fff;
    font-size: 7em;
    line-height: 1;
    font-weight: 700;
}

.inside-header h1 span.firstspan {
	color: #fff600;
    display: block;
    font-size: 0.47em;
}

.inside-header p {

	font-size: 1.4em;
    color: #fff;
    width: 60%;
    margin: 40px auto;
}
.inside-header .btn-hack{
	color: #fff;
    background-color: #ff8701;
    border-color: #b85a00;
}
.inside-content p{
	font-size: 16px;
	font-family: 'Saira', sans-serif;	
}

.inside-content h1,h2,h3,h4,h5{
	font-weight: 800;
    color: #ff8701;
    font-family: 'Saira', sans-serif;
    font-size: 28px;
}

footer{
	min-height: 288px;
	background-size: cover;
    background-position: bottom center;
    padding: 0 0 100px 0;
	background-image: url(../img/footer.jpg);
}
footer .btn-hack{
	font-family: 'Luckiest Guy', cursive;
	color: #fff;
    background-color: #ff8701;
    border-color: #b85a00;
}
footer .foot-line{
	font-family: 'Luckiest Guy', cursive;
    text-align: center;
    padding-top: 50px;
	font-size: 1.4em;
    color: #fff;
    width: 60%;
    margin: 40px auto;
}
.firstspanon {
    padding-bottom: 15px;
    color: #f2f1f1;
    /* font-size: 0.6em; */
    display: block;
    font-size: 0.55em;
}
.ssk-sticky  {text-shadow: none; }


@media screen and (min-width: 765px){
.ssk-sticky  { top: 40% !important; text-shadow: none; }
}

@media screen and (max-width: 1100px){
.logo{
    margin: 20px auto 0 auto;
}
}

@media screen and (max-width: 992px){
.inside-header h1 {
    font-size: 4em;
}
}

@media screen and (max-width: 1100px){
.inside-header h1 {
    font-size: 6em;
}
}

@media screen and (max-width: 450px){
.inside-header h1 {
    font-size: 3em;
}
}

.btn-hack{width: 136px;}